<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/Styles/_Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Styles/footer.css" rel="stylesheet" />

    <title>Doc & Dine</title>
</head>
<body>

    <div class="wrapper">
        <div class="box">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Doc & Dine</h3>
                </div>


                <ul class="list-unstyled components">

                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Restaurants", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Home made foods", "HomeMadeFood", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Blogs", "Blogs", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Recipes", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>

                <div class="social">
                    <div class="widget-title"style="font-size:20px;font-style:italic">
                        Follow Us
                    </div>
                    <div class="">

                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-instagram"></a>

                    </div>

                </div>
            </nav>
        </div>
        <div class="content">

            <ul class="list-unstyled components" style="margin:0px">
                <li style="display: inline; float:right; padding:10px;display: block">@Html.ActionLink("Sign Up", "SignUp", "Home")</li>
                <li style="display: inline; float:right; padding:10px;display:block;border-right: 1px solid #555;">@Html.ActionLink("Login", "Login", "Home")</li>

            </ul>

            @RenderBody()
            <hr />
            <div class="fusion-footer-widget-area">
                <div class="row">
                    <div class="columns col-md-4 mt-5">
                        Doc & Dine (logo)
                    </div>
                    <div class="columns col-md-4 mt-5">
                        <div class="row" style="font-size:30px;padding-top:30px;">
                            SITE MAP
                        </div>
                        <div class="row">
                            <div class="columns">
                                <ul>
                                    <li>HOME</li>
                                    <li>RESTAURANTS</li>
                                    <li>HOME MADE FOODS</li>
                                    <li>BLOGS</li>
                                    <li>RECIPES</li>

                                </ul>
                                
                            </div>
                            <div class="columns" style="padding-left:0px;">
                                <ul>
                                    <li>OFFERS</li>
                                    <li>RESERVATIONS</li>
                                    <li>CONTACT</li>                            
                                </ul>
                                

                            </div>
                        </div>
                    </div>
                    <div class="columns col-md-4 mt-5">
                        <div class="widget-title" style="font-size:20px;font-style:italic;padding:30px;">
                            Follow Us
                        </div>
                        <div class="">

                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>

                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer" style="padding:20px">
                    &copy;2019. Doc & Dine. All rights reserved.
                </div>

            </footer>

        </div>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>